#dropZone {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px;
}

#symbols {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 20px;
}

.IPAsymbol {
 display: inline-block;
  border: solid 1px #000;
  max-width: 15em;
  max-height: 15em;
  margin: .3em;
  box-shadow: 1px 2px 2px rgba(0,0,0,.25);
  padding: .1em 0em;
  draggable: true;
  font-family: Tinos;
  font-size: 21px;
  background-color: rgb(255,255,255);
  color: #000;
}

#plosive,
#alveolar,
#bilabial,
#palatal,
#velar,
#fricative {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border: 1px solid #aaaaaa;
  padding: 1rem;
}
