#dropZone {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 100px;
  margin-bottom: 20px;
}

#symbols {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 100px;
  margin-bottom: 20px;
}

#dropBox1,
#dropBox2,
#dropBox3,
#dropBox4,
#dropBox5,
#dropBox6 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border: 1px solid #aaaaaa;
  padding: 1rem;
}

img {
  height: 50px;
  width: auto;
}
